<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 1</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal2()">Open Modal 2</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 3</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 4</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 5</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 6</ion-button>

</ion-content>

