<ion-content>
  <ion-item *ngFor="let recipes of (recipes1| async)">
    <ion-label class="ion-text-wrap">
      <h2 style="font-weight: bold; margin-top: 10px">{{ recipes.title }}</h2>
      <h3>Voorbereiding:</h3>
      <p> {{ recipes.preparation }}</p>
      <h3>Beschrijving:</h3>
      <p>{{ recipes.description }}</p>
      <h3>Stap:</h3>
      <p>{{ recipes.step }}</p>
      <h3>Personen:</h3>
      <p>{{ recipes.persons }}</p>
      <h3>Ingrediënten:</h3>
      <p>{{ recipes.ingredients }}</p>
    </ion-label>
  </ion-item>
</ion-content>
