<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 1</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 2</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 3</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 4</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 5</ion-button>
  <ion-button color="primary" expand="full" (click)="openModal()">Open Modal 6</ion-button>

  <ion-item *ngFor="let recipes of (recipes1| async)">
    <ion-label>
      <h2>{{ recipes.title }}</h2>
      <p>views: {{ recipes.views }}</p>
      <p>popularity: {{ recipes.popularity }}</p>
      <p>preparation: {{ recipes.preparation }}</p>
      <p>description: {{ recipes.description }}</p>
      <p>read_time: {{ recipes.read_time }}</p>
      <p>average_ranking: {{ recipes.average_ranking }}</p>
      <p>likes: {{ recipes.likes }}</p>
      <p>step: {{ recipes.step }}</p>
      <p>persons: {{ recipes.persons }}</p>
      <p>ingredients: {{ recipes.ingredients }}</p>
    </ion-label>
    <ion-icon slot="start" icon="rocket" color="primary"></ion-icon>
  </ion-item>
</ion-content>

